html {
	font-family: : Helvetica;
	display: inline-block;
	margin: 0px auto;
	text-align: center;
}
h1 {
	color: #0F33776;
	padding: 2vh;
}
p {
	font-size: 1.5rem;
}
.sensor-labels {
	font-size: 1.5rem;
	vertical-align: middle;
	padding-bottom: 15px;
}